{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends":["airbnb/base", "react-app"],
  "rules": {
    "no-plusplus": "off",
    "prefer-destructuring": "off",
    "indent": ["error", 2],
    "arrow-body-style":"off",
    "no-tabs": "off",
    "no-alert": "off",
    "max-len": ["warn", { "ignoreUrls": true }]
  }
}